/* Aqui o meu primeiro codigo CSS */
body{
		background: blue;
}
#fundo{

}
h1 {
background: #CCCCCC;
		text-align: center;
}
#fraseImpacto{
		background: red;
		font: 14px;
}
p {
    text-align: center;
}
i {
	font-size:  100px;
	color:  black;
}
