/* Aqui o meu primeiro codigo CSS */
body{
		background: blue;
		font: 16px;
}
p {
    text-align: center;
}
h1 {
		text-align: center;
		background: #CCCCCC;
}
i {
	font-size:  100px;
	color:  black;
}